html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


* {
box-sizing: border-box;
}

body {background-color: #C16600;
background-size: 100%;
background-repeat:no-repeat;
background-attachment: fixed;
margin: 0px;
cursor: url(img/mouse.png), auto;
}


#menuprincipal {
    height: 70px;
    text-align: center;
}

#menuprincipal ul {
    list-style-type: none;
    display: inline-block;

}

#menuprincipal ul li {
    float: left;
    margin-top: 20px;
    
}

#menuprincipal ul li a {
    color: #C96500;
    font-weight: lighter;
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    padding: 20px;

}

#menuprincipal ul li a:hover {
    font-size: 24px;
    background-color: #ED8713;
}

.miprimerlibro {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}


.bocetos1 {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 75px;
}

.inicio1 {
    margin-right: 275px;
}

.bocetos2 {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 75px;
}

.medio1 {
    margin-right: 275px;
}

.bocetos3 {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 75px;
}

.final1 {
    margin-right: 275px;
}

.ilustracion {
    margin-left: 10%;
    margin-bottom: 40px;
}

.ilustracion h2 {
    font-size: 30px;
    color: black;
}

.ilustraciones { 
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}

.iluno {
    margin-right: 350px;
}

.ilustraciones1 { 
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}

.iltres {
    margin-right: 350px;
}

.backtotop  {
   background-color: #3C3C3A;
   margin-left: 35%;
    margin-right: 35%;
    height: 0%;
    margin-bottom: 20px;
}

.backtotop h2 {
    font-size: 20px;
    padding: 10px;
    color: white;
    
}

.footer {
    background-color: black;
   padding: 50px;
    position: relative;
    width: 100%;
    height: 250px;   
}

.footer ul{ list-style: none;
    
    
}

.footer h2 {color: #ED8713;}

